extends ./layout.pug

block content 
    script(type='module' src='js/apppages.js')
    .bodypage
        .aboutMe
            div Hello, I'm <strong>Mattéo</strong>, a student developer from France.
            div I am passionate about <strong>innovation, digital technologies and design.</strong>
            div My hobbies range from <strong>music</strong> (playing the piano), 
            | <strong>skateboarding</strong>, <strong>digital design</strong>, <strong>producing music</strong> to <strong>video games</strong>.
            div You can find below my current rank in <strong>League of Legends</strong> (gathered from Riot Games API) 😎
        if leaguesumm.rank
            .leagueStatsWrapper
                #leagueName= leaguesumm.name
                img#leagueIcon(src=leaguesumm.profileIconId)
                #leagueRank= leaguesumm.tier + ' ' + leaguesumm.rank
                #leagueLP= leaguesumm.leaguePoints + ' LPs'
        else
            .leagueStatsWrapper
                br
                div It feels like I have some problem
                div gathering data from Riot Games API 😔
                br

        .aboutMe2
            div I am actually looking for an <strong>internship !</strong>
            div <br>If you are interested in my
            a(href="/skills").subtitleText Skills (click me),
            div you can
            a(href="/contact").subtitleText Contact Me !
    #EoFEmoji 😊