extends ./layout.pug

block content
    script(type='module' src='js/sendMail.js')
    .contactInfo
        span You can contact me directly on my 
        a(href="https://www.linkedin.com/in/matt%C3%A9o-bernardi-75b603181/").subtitleText Linkedin 
        span or just send me an 
        a(href="mailto:matteo.bernardi@epitech.eu").subtitleText e-mail !
        