extends ./layout.pug

block content 
    //- link(rel='stylesheet' href='build/index.css')
    #arrowdiv
        #arrowtext Please scroll down ...
        img#botarrow(style='z-index: 999;' src='assets/img/arrow-down.png')

    .subTitleDiv.subtitleText My Hobbies


    div.leagueStatsWrapper
        div WHO AM I 
        div= leaguesumm.name
        div= leaguesumm.tier
        div= leaguesumm.rank
        img#leagueIcon(src=leaguesumm.profileIconId)

block scripts
    script.
        var navBar = $('#navBar');
        setTimeout(
            function() {
                $('#loader-bg').hide();
                navBar.hide();
            }, 1000);

        $(window).scroll(function() {
            $("#arrowdiv").css("opacity", 1 - $(window).scrollTop() / 250);
            var scroll = $(window).scrollTop();
            if (scroll >= navBar.height()) {
                navBar.fadeIn(600);
            } else {
                navBar.fadeOut(600);
            }
        });