extends ./layout.pug

block content 
    script(type='module' src='js/appindex.js')
    //- link(rel='stylesheet' href='build/index.css')
    #arrowdiv
        #arrowtext Please scroll down ...
        img#botarrow(style='z-index: 999;' src='assets/img/arrow-down.png')

    hr

    div
        #aboutDiv.subtitleText
            a(href="/about") About me
        #skillsDiv.subtitleText
            a(href="/skills") My Skills
        #workDiv.subtitleText
            a(href="/work") Previous work
        #contactDiv.subtitleText
            a(href="/contact") Contact me

block scripts
    script.
        $(".subtitleText").mouseenter(function() {
            $(this).removeClass("wasHovered");
        })
        $(".subtitleText").mouseout(function() {
            $(this).addClass("wasHovered");
        });
        var navBar = $('#navBar');
        setTimeout(
            function() {
                navBar.hide();
                $('#loader-bg').hide();
            }, 500);
        
        $('.subtitleText').click(function() {
            $(this).children()[0].click();
        })
        $(window).scroll(function() {
            $("#arrowdiv").css("opacity", 1 - $(window).scrollTop() / 250);
            if ($("#arrowdiv").css("opacity") == 0)
                $("#arrowdiv").css("z-index", "-999");
            else 
                $("#arrowdiv").css("z-index", "999");
            var scroll = $(window).scrollTop();
            console.log(scroll);
            if (scroll >= navBar.height()) {
                navBar.fadeIn(600);
            } else {
                navBar.fadeOut(600);
            }
        });