doctype html
head(lang='en')
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
  title Work in Progress
  link(rel='stylesheet' href='build/index.css')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap' rel='stylesheet')
  link(rel="stylesheet" href="https://use.typekit.net/qfs0xie.css")
  script(src='lib/three.min.js')
  script(src='lib/jquery-3.6.0.min.js')
  script(src='lib/ThinFilmFresnelMap.js')
  script(src='lib/IridescentMaterial.js')
  script(src='/assets/OBJLoader.js')
  script(src='/assets/MTLLoader.js')
#loader-bg
    img#loading-gif(src='assets/img/loading.gif')
body
    #bg

    .preNav 
        a#preNavLogo(href="/") Mattéo Bernardi
        a.navBarBtn(href="/contact") Contact
        a.navBarBtn(href="/work") My Experiences
        a.navBarBtn(href="/skills") Skills
        a.navBarBtn(href="/about") About me

    block content

    block scripts

    #footer
        a.contactMe(href="https://www.linkedin.com/in/matt%C3%A9o-bernardi-75b603181/") Linkedin
        a.contactMe(href="mailto:matteo.bernardi@epitech.eu") Mail
        div matteo.bernardi@epitech.eu
        div © Mattéo Bernardi

script.
    setTimeout(
        function() {
            $('#loader-bg').hide();
        }, 500);