extends ./layout.pug

block content
    script(type='module' src='js/appskills.js')
    #skillsbg
    .headlineContainer
        .headlineSkill
            .slidingSkill
                span.replaceTxt MY SKILLS 
                span.replaceTxt MY SKILLS 
                span.replaceTxt MY SKILLS 
                span.replaceTxt MY SKILLS 
                span.replaceTxt MY SKILLS 
                span.replaceTxt MY SKILLS 
                span.replaceTxt MY SKILLS 
                span.replaceTxt MY SKILLS 
            .slidingSkill 
                span.replaceTxt MY SKILLS 
                span.replaceTxt MY SKILLS 
                span.replaceTxt MY SKILLS 
                span.replaceTxt MY SKILLS 
                span.replaceTxt MY SKILLS 
                span.replaceTxt MY SKILLS 
                span.replaceTxt MY SKILLS 
                span.replaceTxt MY SKILLS 


    .bodypage
        .skillCard Web Development
            div(style='display:none;') HTML, CSS, SCSS, JavaScript, Vue.js, React.js
        .skillCard Web Design
            div(style='display:none;') Web Design
        .skillCard Backend
            div(style='display:none;') Flask, Node.js, Express
        .skillCard UI/UX Design
            div(style='display:none;') UI/UX Design
        .skillCard Databases
            div(style='display:none;') SQL, MongoDB
        .skillCard DevOps
            div(style='display:none;') Docker
        .skillCard Game Development
            div(style='display:none;') C# Unity
        .skillCard Unix
            div(style='display:none;') Unix
        .skillCard Software Development 
            div(style='display:none;') C, C++, Java, Python
        .skillCard Digital Design
            div(style='display:none;') Adobe Suite

        .middleCard Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper sem neque, quis auctor sem convallis vel. Nulla at augue a felis laoreet ultricies. Morbi placerat maximus tellus, non sagittis sapien semper eget. Sed sagittis odio velit, eu gravida nisl vulputate vulputate. Quisque mauris orci, lacinia vel finibus id, feugiat a massa.

block scripts
    script.
        $('.skillCard').hover(function () {
            var txt = $(this).children().html();
            txt = '<span>' + txt + '</span>';
            $('span').replaceWith(txt);
        })