@mixin animate($animation,$duration,$method,$times){
    animation: $animation $duration $method $times;
}

@mixin keyframes($name){
    @keyframes #{$name}{
        @content;
    }
}

canvas {}

body {
    font-family: 'Roboto';
    margin: 0;
}

.rainbowText {
    @include keyframes(rainbow) {
        0% { color: #9400D3 }
        20% { color: #4B0082 }
        40% { color: #0000FF }
        60% { color: #00FF00 }
        80% { color: #FFFF00 }
        90% { color: #FF7F00 }
        100% { color: #FF0000 }
    }
    @include animate(rainbow, 2s, linear, infinite);
    font-size: 48px;
}