@import "/assets/fonts/stylesheet.css";

@mixin animate($animation,$duration,$method,$times){
    animation: $animation $duration $method $times;
}

@mixin keyframes($name){
    @keyframes #{$name}{
        @content;
    }
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#bg {
    z-index: -999;
}

main {
    flex-grow: 1;
    width: 100vw;
    color: black;
    z-index: 99;
    // position: absolute;
    width: 100%;
    margin: 0px auto;
    padding: 120px 0px;
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    margin-bottom: var(--spacing);
}

section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
}

.left {
    grid-column: 6 / 12;
}

.headingtext {
    font-family: 'rooters';
    font-size: 56px;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: black;
    -webkit-text-fill: none;
}

.headline {
    height: var(--headline-height);
    display: flex;
    align-items: center;
    border-left: 0px;
    border-bottom: 7px solid var(--black);
    flex-wrap: nowrap;
    white-space: nowrap;
    
    .sliding-headline {
        white-space: nowrap;
        animation: slideLeft 40s infinite linear;
        margin-top: -32px;
        
        span {
            margin-right: .1em;
        }
        
        span:nth-child(2n) {
            color: var(--black);
        }
        
        span:nth-child(2n+1) {
            color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: var(--black);
        }
    }
}

.subline {
    height: var(--subline-height);
    display: flex;
    align-items: center;
    
    border-bottom: 7px solid var(--black);
    flex-wrap: nowrap;
    white-space: nowrap;
    // overflow: hidden;
    
    
    .sliding-headline {
        white-space: nowrap;
        animation: slideLeft 40s infinite linear reverse;
        
        margin-top: -7px;
        
        span {
            margin-right: 0.1em;
        }
        
        span:nth-child(2n) {
            color: var(--black);
        }
        
        span:nth-child(2n+1) {
            color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: var(--black);
        }
    }
}

.container {
    position: absolute;
    width: calc(100vw - 2 * var(--border-distance-w));
    height: calc(100vh - 2 * var(--border-distance-w));
    left: var(--border-distance-w);
    top: var(--border-distance-w);
    
    border: 7px solid var(--black);
    display: flex;
    flex-direction: column;
}

.whoami {
    z-index: 50;
    position: fixed;
}

@keyframes slideLeft {
    0% {
        transform: translate3d(0, 0, 0);
    }
    
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

#loader-bg {
    background-color: #EEEEEE;
    z-index: 1500;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading-gif {
    max-width:10%;
    max-height:10%;
}

#arrowdiv {
    width: 100%;
    position:fixed;
    top:100vh;
    transform:translateY(-100%);
    z-index: 99999;
    text-align: center;
}   

#botarrow {
    max-width: 3%;
    max-height: 3%;
}