@import "/assets/fonts/stylesheet.css";

@mixin animate($animation,$duration,$method,$times){
    animation: $animation $duration $method $times;
}

@mixin keyframes($name){
    @keyframes #{$name}{
        @content;
    }
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#bg {
    z-index: -999;
}

main {
    flex-grow: 1;
    width: 100vw;
    color: black;
    z-index: 99;
    // position: absolute;
    width: 100%;
    margin: 0px auto;
    // padding: 120px 0px;
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    margin-bottom: var(--spacing);
}

section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
}

.left {
    grid-column: 6 / 12;
}

.headingtext {
    font-family: 'rooters';
    font-size: 56px;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: black;
    -webkit-text-fill: none;
}

.headline {
    height: var(--headline-height);
    display: flex;
    align-items: center;
    border-left: 0px;
    border-bottom: 7px solid var(--black);
    flex-wrap: nowrap;
    white-space: nowrap;
    
    .sliding-headline {
        white-space: nowrap;
        animation: slideLeft 60s infinite linear;
        // margin-top: -32px;
        
        span {
            margin-right: .1em;
        }
        
        span:nth-child(2n) {
            color: var(--black);
        }
        
        span:nth-child(2n+1) {
            color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: var(--black);
        }
    }
}

.subline {
    height: var(--subline-height);
    display: flex;
    align-items: center;
    
    border-bottom: 7px solid var(--black);
    flex-wrap: nowrap;
    white-space: nowrap;
    // overflow: hidden;
    
    
    .sliding-headline {
        white-space: nowrap;
        animation: slideLeft 60s infinite linear reverse;
        
        margin-top: -7px;
        
        span {
            margin-right: 0.1em;
        }
        
        span:nth-child(2n) {
            color: var(--black);
        }
        
        span:nth-child(2n+1) {
            color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: var(--black);
        }
    }
}

.slidingTitleContainer {
    position: absolute;
    width: calc(100vw - 2 * var(--border-distance-w));
    height: calc(100vh - 2 * var(--border-distance-w));
    left: var(--border-distance-w);
    top: var(--border-distance-w);
    
    border: 7px solid var(--black);
    display: flex;
    flex-direction: column;
}


@keyframes slideLeft {
    0% {
        transform: translate3d(0, 0, 0);
    }
    
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

#loader-bg {
    background-color: #EEEEEE;
    z-index: 1500;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading-gif {
    max-width:10%;
    max-height:10%;
}

#arrowdiv {
    width: 100%;
    position:fixed;
    top:100vh;
    transform:translateY(-100%);
    z-index: 100;
    text-align: center;
}

#arrowtext {
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: -2vh;
}

#botarrow {
    max-width: 3%;
    max-height: 3%;
}

#leagueIcon {
    max-width: 25%;
    height: auto;
}

.leagueStatsWrapper {
    z-index: 50;
    position: relative;
    box-shadow: inset 0 0 2000px rgba(59, 59, 59, 0.3);
    backdrop-filter: blur(7px);
    margin-left: 60vw;
    margin-right: 10vw;
    margin-top: 10vh;
}

.subtitleDiv {
    position: relative;
    margin-left: 10vw;
}

.subtitleText {
    position: relative;
    margin-top: 100vh;
    margin-left: 5vw;
    // text-align: center;
    font-family: 'rooters';
    font-size: 72px;
    color: #fff;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.2);
    -webkit-text-stroke-width: 1.5px;
    @include keyframes(appear){
        0%{
            text-shadow: none;
        }
        5%{
            text-shadow: 4px 4px #fbf8cc;
        }
       10%{
        text-shadow: 4px 4px #fbf8cc,
               8px 8px #fde4cf;
       }
       15%{
        text-shadow: 4px 4px #fbf8cc,
               8px 8px #fde4cf,
               12px 12px #ffcfd2;
       }
       20%{
        text-shadow: 4px 4px #fbf8cc,
               8px 8px #fde4cf,
               12px 12px #ffcfd2,
               16px 16px #f1c0e8;
       }
       25%{
        text-shadow: 4px 4px #fbf8cc,
               8px 8px #fde4cf,
               12px 12px #ffcfd2,
               16px 16px #f1c0e8,
               20px 20px #cfbaf0;
       }
       30%{
        text-shadow: 4px 4px #fbf8cc,
               8px 8px #fde4cf,
               12px 12px #ffcfd2,
               16px 16px #f1c0e8,
               20px 20px #cfbaf0,
               24px 24px #a3c4f3;
       }
       35%{
        text-shadow: 4px 4px #fbf8cc,
               8px 8px #fde4cf,
               12px 12px #ffcfd2,
               16px 16px #f1c0e8,
               20px 20px #cfbaf0,
               24px 24px #a3c4f3,
               28px 28px #90dbf4;
       }
       40%{
        text-shadow: 4px 4px #fbf8cc,
               8px 8px #fde4cf,
               12px 12px #ffcfd2,
               16px 16px #f1c0e8,
               20px 20px #cfbaf0,
               24px 24px #a3c4f3,
               28px 28px #90dbf4,
               32px 32px #8eecf5;
       }
       45%{
        text-shadow: 4px 4px #fbf8cc,
               8px 8px #fde4cf,
               12px 12px #ffcfd2,
               16px 16px #f1c0e8,
               20px 20px #cfbaf0,
               24px 24px #a3c4f3,
               28px 28px #90dbf4,
               32px 32px #8eecf5,
               36px 36px #98f5e1;
       }
       50%{
        text-shadow: 4px 4px #fbf8cc,
               8px 8px #fde4cf,
               12px 12px #ffcfd2,
               16px 16px #f1c0e8,
               20px 20px #cfbaf0,
               24px 24px #a3c4f3,
               28px 28px #90dbf4,
               32px 32px #8eecf5,
               36px 36px #98f5e1;
       }
       55%{
        text-shadow: 4px 4px #fbf8cc,
               8px 8px #fde4cf,
               12px 12px #ffcfd2,
               16px 16px #f1c0e8,
               20px 20px #cfbaf0,
               24px 24px #a3c4f3,
               28px 28px #90dbf4,
               32px 32px #8eecf5,
               36px 36px #98f5e1;
       }
       60%{
        text-shadow: 4px 4px #fbf8cc,
               8px 8px #fde4cf,
               12px 12px #ffcfd2,
               16px 16px #f1c0e8,
               20px 20px #cfbaf0,
               24px 24px #a3c4f3,
               28px 28px #90dbf4,
               32px 32px #8eecf5;
       }
       65%{
        text-shadow: 4px 4px #fbf8cc,
               8px 8px #fde4cf,
               12px 12px #ffcfd2,
               16px 16px #f1c0e8,
               20px 20px #cfbaf0,
               24px 24px #a3c4f3,
               28px 28px #90dbf4;
       }
       70%{
        text-shadow: 4px 4px #fbf8cc,
               8px 8px #fde4cf,
               12px 12px #ffcfd2,
               16px 16px #f1c0e8,
               20px 20px #cfbaf0,
               24px 24px #a3c4f3;
       }
       75%{
        text-shadow: 4px 4px #fbf8cc,
               8px 8px #fde4cf,
               12px 12px #ffcfd2,
               16px 16px #f1c0e8,
               20px 20px #cfbaf0;
       }
       80%{
        text-shadow: 4px 4px #fbf8cc,
               8px 8px #fde4cf,
               12px 12px #ffcfd2,
               16px 16px #f1c0e8;
       }
       85%{
        text-shadow: 4px 4px #fbf8cc,
               8px 8px #fde4cf,
               12px 12px #ffcfd2;
       }
       90%{
        text-shadow: 4px 4px #fbf8cc,
               8px 8px #fde4cf;
       }
       95%{
        text-shadow: 4px 4px #fbf8cc;
       }
       100%{
        text-shadow: none;
       }
      }
    @include animate(appear, 2s, linear, infinite);
}